body {
  margin: 0;
  font-family: 'Poppins', 'Tahoma', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', 'Tahoma', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}